<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Cake.Board Rules" Description="This rule set contains rules for the Cake Board projects." ToolsVersion="15.0">
  <IncludeAll Action="Warning" />
  <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers">
    <Rule Id="SA1309" Action="None" />
    <Rule Id="SA1310" Action="None" />
    <Rule Id="SA1413" Action="None" />
    <Rule Id="SA1503" Action="None" />
    <Rule Id="SA1652" Action="None" />
  </Rules>
</RuleSet>
