name: cake-board

variables:
- group: cake-board-group

trigger:
  branches:
    include:
      - master
      - preview/*
      - stable/*

stages:
- stage: Build
  displayName: Build

  jobs:
  - job: windows_build_agent
    displayName: Windows Agent
    pool:
      vmImage: vs2017-win2016
          
    steps:
      - template: azure-pipelines-template/build.yml

  - job: ubuntu_build_agent
    displayName: Ubuntu Agent
    pool:
      vmImage: ubuntu-16.04

    steps:
      - template: azure-pipelines-template/build.yml

- stage: Deploy
  displayName: Deploy
  dependsOn: Build
  
  jobs:
  - job: windows_build_agent
    displayName: Windows Agent
    pool:
      vmImage: vs2017-win2016
          
    steps:
      - template: azure-pipelines-template/deploy.yml
