name: cake-board

variables:
- group: cake-board-group

trigger:
  branches:
    include:
      - master
      - preview/*
      - stable/*

jobs:
  - job: windows_build_agent
    displayName: Windows Agent
    pool:
      vmImage: vs2017-win2016
          
    steps:
      - template: azure-pipelines-templat/build.yml

  - job: ubuntu_build_agent
    displayName: Ubuntu Agent
    pool:
      vmImage: ubuntu-16.04

    steps:
      - template: azure-pipelines-templat/build.yml
